body {
  font-family: 'Open Sans', sans-serif;
}

b, strong {
  font-weight: 800;
}

nav {
  position: fixed;
  display: flex;
  justify-content: space-around;
  border-bottom: 1px solid gainsboro;
  align-items: center;
  width: 100vw;
  background-color: white;
  height: 50px;
}

nav img {
  height: 50px;
}

nav ul {
  margin: 0;
  display: flex;
  list-style-type: none;
}

nav ul li a {
  text-transform: uppercase;
  text-decoration: none;
  color: darkslategrey;
}

main {

}

a#nav-qui-sommes-nous {
  color: orange;
}

a#nav-les-outils {
  color: darkviolet;
}

nav ul li+li {
  border-left: 1px solid darkcyan;
  margin-left: 15px;
  padding-left: 15px;
}

.title {
  background-image: url('../img/office.jpg');
  background-attachment: fixed;
  background-position: top -150px center;
  background-size: 100%;
  background-repeat: no-repeat;
  min-height: 25em;
  height: 60vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.title h1 {
  font-size: 5em;
  color: dodgerblue;
  font-weight: 800;
  margin-bottom: 0;
}

.title p {
  font-size: 2em;
  max-width: 900px;
  text-align: center;
  color: white;
}

section {
  padding: 3em 0;
}

section h2 {
  font-size: 4em;
  font-weight: 400;
  text-align: center;
}

section p.subtitle {
  font-size: 2em;
  font-weight: 200;
  color: #999999;
  width: 70vw;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2em;
  text-align: center;
}

section#qui-sommes-nous {
  background-color: dimgrey;
  text-align: center;
}

section#qui-sommes-nous h2 {
  color: orange;
  font-weight: 300;
  letter-spacing: 3px;
}

section#qui-sommes-nous p {
  color: white;
  letter-spacing: 2px;
}

#arrow-down {
  width: 100px;
  height: 100px;
}

ul.outils {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0;
  width: 60vw;
  margin: auto;
}

ul.outils li:nth-child(2n+1) {
  padding-right: 65px;
}

ul.outils li:nth-child(2n) {
  padding-left: 65px;
}

ul.outils li {
  list-style-type: none;
  width: 22vw;
  padding-bottom: 65px;
}

ul.outils li h3 {
  font-weight: 400;
  font-size: 1.6em;
}

ul.outils li div.logo-title {
  width: 30%;
  text-align: center;
}

ul.outils li div.content {
  width: 50%;
}

a.logo {
  width: 100px;
  height: 100px;
  border: 2px solid;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

a.logo img {
  width: 80%;
}

.tagline {
  font-weight: 200;
  margin: 0 0 0.6em 0;
}

.description {
  margin-top: 0;
}

.mobilisco a {
  border-color: #fb2058;
  color: #fb2058;
}

.mobilisco h3 {
  color: #fb2058;
}

.bourse a {
  border-color: #ff7b19;
  color: #ff7b19;
}

.bourse h3 {
  color: #ff7b19;
}

.cogefi a {
  border-color: #24b47e;
  color: #24b47e;
}

.cogefi h3 {
  color: #24b47e;
}

.dossiersco a {
  border-color: #29adad;
  color: #29adad;
}

.dossiersco h3 {
  color: #29adad;
}

.gemasco a {
  border-color: #d43583;
  color: #d43583;
}

.gemasco h3 {
  color: #d43583;
}

.votre-projet a {
  border-color: #ffd966;
  color: #ffd966;
}

.votre-projet a.logo {
  background-color: #ffd966;
}

.votre-projet h3 {
  color: #ffd966;
}
