body {
  font-family: 'Open Sans', sans-serif;
}

b, strong {
  font-weight: 800;
}

nav {
  background-color: white;
  padding: 15px;
}

nav ul {
  margin: 0;
  display: flex;
  list-style-type: none;
}

nav ul li a {
  text-transform: uppercase;
  text-decoration: none;
  color: darkslategrey;
}

a#nav-qui-sommes-nous {
  color: orange;
}

a#nav-les-outils {
  color: darkviolet;
}

nav ul li+li {
  border-left: 1px solid darkcyan;
  margin-left: 15px;
  padding-left: 15px;
}

.title {
  background-image: url('../img/office.jpg');
  background-attachment: fixed;
  background-position: top -150px center;
  background-size: 100%;
  background-repeat: no-repeat;
  min-height: 25em;
  height: 60vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.title h1 {
  font-size: 5em;
  color: dodgerblue;
  font-weight: 800;
  margin-bottom: 0;
}

.title p {
  font-size: 2em;
  max-width: 900px;
  text-align: center;
  color: white;
}

section {
  padding: 3em 0;
  text-align: center;
}

section h2 {
  letter-spacing: 4px;
}

section#qui-sommes-nous {
  background-color: dimgrey;
}

section#qui-sommes-nous h2 {
  color: orange;
  font-weight: 300;
  letter-spacing: 3px;
}

section#qui-sommes-nous p {
  color: white;
  letter-spacing: 2px;
}

#arrow-down {
  width: 100px;
  height: 100px;
}

ul.outils {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

ul.outils li {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  border-radius: 50%;
  height: 15vw;
  width: 15vw;
  margin: 25px 7vw;
  background-color: darkcyan;
  color: white;
}
