body {
  font-family: 'Open Sans', sans-serif;
}

.mobilisco a,
.mobilisco h3 {
  color: #24b47e;
}

a.bourse,
.bourse a,
.bourse h3 {
  color: #29adad;
}

.cogefi a,
.cogefi h3 {
  color: #fb2058;
}

.gemasco a,
.gemasco h3 {
  color: #ff7b19;
}

.votre-projet a,
.votre-projet h3 {
  color: #ffd966;
}
