nav {
  position: fixed;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid gainsboro;
  align-items: center;
  width: 100vw;
  background-color: white;
  height: 50px;
}

nav ul#menu {
  margin: 0;
  display: flex;
  list-style-type: none;
  height: 50px;
  align-items: center;
}

nav ul#menu li {
  display: flex;
  align-items: center;
  height: 100%;
}

nav ul#menu li a {
  text-transform: uppercase;
  text-decoration: none;
  color: darkslategrey;
}

nav ul#menu li+li {
  margin-left: 15px;
  padding-left: 15px;
}

nav ul#menu li#nav-qui-sommes-nous a {
  color: orange;
}

@media (max-width: 768px) {
  nav ul#menu {
    font-size: 0.4em;
  }

  nav ul#menu li+li {
    margin-left: 5px;
    padding-left: 5px;
  }
}

main {
  padding-top: 50px;
}

.dropdown {
  position: absolute;
  z-index: 1000;
  left: 200px;
  top: 49px;
  pointer-events: none;
  opacity: 0;
  will-change: opacity;
  transition-property: opacity;
  transition-duration: .25s;
  display: block;
}

.dropdown-arrow {
  position: absolute;
  top: -6px;
  left: 75px;
  margin: 0 0 0 -6px;
  width: 12px;
  height: 12px;
  border-radius: 4px 0 0 0;
  background: #fff;
  box-shadow: -3px -3px 5px rgba(82,95,127,.04);
  transform: rotate(45deg);
}

.dropdown-background {
  position: absolute;
  top: 0;
  left: 0;
  background: #fff;
  border-radius: 4px;
  overflow: hidden;
  box-shadow: 0 50px 100px rgba(50,50,93,.1), 0 15px 35px rgba(50,50,93,.15), 0 5px 15px rgba(0,0,0,.1);
  width: 590px;
  height: 340px;
}

.dropdown-container {
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 520px;
  height: 300px;
  padding: 20px 35px;
}

.dropdown.dropdown-active,
.dropdown.link-active {
  opacity: 1;
  pointer-events: auto;
  transform: none;
}

.dropdown.dropdown-active .dropdown-background,
.dropdown.link-active .dropdown-background {
  transform: rotate(0) scaleX(1) scaleY(1);
  transform-origin: 0 0;
}

ul.tools-group {
  display: flex;
  flex-wrap: wrap;
  margin: -5px -10px;
  list-style: none;
  padding: 0;
}

ul.tools-group li {
  display: flex;
  flex: 1 0 50%;
}

ul.tools-group li a.link-container {
  padding: 18px 10px;
  flex: 1;
  display: flex;
  align-items: center;
  text-decoration: none;
}

ul.tools-group li a.link-container img {
  width: 50px;
  height: 50px;
}

.link-content {
  margin-left: 20px;
}

.link-content h3 {
  margin: 0;
  font-weight: 400;
}

.link-content p {
  color: #797979;
  margin-top: 10px;
  margin-bottom: 0;
}
